option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: ""
    DB_PORT: "5432"
    DB_NAME: "geochallenge_db"
    DB_USER: "geochallenge"
    DB_PASSWORD: ""
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: "8000"
